<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classapi</key>
	<array>
		<string>[varname class];</string>
		<string>[varname superclass];</string>
		<string>[varname isSubclassOfClass: therandomclass];</string>
		<string>[varname description];</string>
		<string>[varname classForKeyedUnarchiver];</string>
		<string>[varname version];</string>
	</array>
	<key>instanceapi</key>
	<array>
		<string>[varname copy];</string>
		<string>[varname mutableCopy];</string>
		<string>[varname doesContain:therandominstance];</string>
		<string>[varname autoContentAccessingProxy];</string>
		<string>[varname classForArchiver];</string>
		<string>[varname classForCoder];</string>
		<string>[varname classForKeyedArchiver];</string>
		<string>[varname attributeKeys];</string>
		<string>[varname classDescription];</string>
		<string>[varname toManyRelationshipKeys];</string>
		<string>[varname toOneRelationshipKeys];</string>
		<string>[varname classCode];</string>
		<string>[varname className];</string>
		<string>[varname scriptingProperties];</string>
		<string>[varname accessibilityActivationPoint];</string>
		<string>[varname accessibilityAttributedHint];</string>
		<string>[varname accessibilityAttributedLabel];</string>
		<string>[varname accessibilityAttributedValue];</string>
		<string>[varname accessibilityContainerType];</string>
		<string>[varname accessibilityCustomActions];</string>
		<string>[varname accessibilityCustomRotors];</string>
		<string>[varname accessibilityDragSourceDescriptors];</string>
		<string>[varname accessibilityDropPointDescriptors];</string>
		<string>[varname accessibilityElements];</string>
		<string>[varname accessibilityElementsHidden];</string>
		<string>[varname accessibilityFrame];</string>
		<string>[varname accessibilityHint];</string>
		<string>[varname accessibilityLabel];</string>
		<string>[varname accessibilityLanguage];</string>
		<string>[varname accessibilityNavigationStyle];</string>
		<string>[varname accessibilityPath];</string>
		<string>[varname accessibilityTraits];</string>
		<string>[varname accessibilityValue];</string>
		<string>[varname accessibilityViewIsModal];</string>
		<string>[varname isAccessibilityElement];</string>
		<string>[varname observationInfo];</string>
		<string>[varname shouldGroupAccessibilityChildren];</string>
		<string>[varname accessInstanceVariablesDirectly];</string>
		<string>[varname nextResponder];</string>
		<string>[varname isFirstResponder];</string>
		<string>[varname canBecomeFirstResponder];</string>
		<string>[varname canResignFirstResponder];</string>
		<string>[varname inputView];</string>
		<string>[varname inputViewController];</string>
		<string>[varname inputAccessoryView];</string>
		<string>[varname inputAccessoryViewController];</string>
		<string>[varname undoManager];</string>
		<string>[varname keyCommands];</string>
		<string>[varname textInputMode];</string>
		<string>[varname textInputContextIdentifier];</string>
		<string>[varname inputAssistantItem];</string>
		<string>[varname userActivity];</string>
		<string>[varname backgroundColor];</string>
		<string>[varname hidden];</string>
		<string>[varname alpha];</string>
		<string>[varname opaque];</string>
		<string>[varname tintColor];</string>
		<string>[varname tintAdjustmentMode];</string>
		<string>[varname clipsToBounds];</string>
		<string>[varname clearsContextBeforeDrawing];</string>
		<string>[varname maskView];</string>
		<string>[varname layerClass];</string>
		<string>[varname layer];</string>
		<string>[varname isUserInteractionEnabled];</string>
		<string>[varname isMultipleTouchEnabled];</string>
		<string>[varname isExclusiveTouch];</string>
		<string>[varname frame];</string>
		<string>[varname bounds];</string>
		<string>[varname center];</string>
		<string>[varname transform];</string>
		<string>[varname superview];</string>
		<string>[varname subviews];</string>
		<string>[varname window];</string>
		<string>[varname directionalLayoutMargins];</string>
		<string>[varname layoutMargins];</string>
		<string>[varname preservesSuperviewLayoutMargins];</string>
		<string>[varname safeAreaInsets];</string>
		<string>[varname safeAreaLayoutGuide];</string>
		<string>[varname insetsLayoutMarginsFromSafeArea];</string>
		<string>[varname constraints];</string>
		<string>[varname bottomAnchor];</string>
		<string>[varname centerXAnchor];</string>
		<string>[varname centerYAnchor];</string>
		<string>[varname firstBaselineAnchor];</string>
		<string>[varname heightAnchor];</string>
		<string>[varname lastBaselineAnchor];</string>
		<string>[varname leadingAnchor];</string>
		<string>[varname leftAnchor];</string>
		<string>[varname rightAnchor];</string>
		<string>[varname topAnchor];</string>
		<string>[varname trailingAnchor];</string>
		<string>[varname widthAnchor];</string>
		<string>[varname layoutGuides];</string>
		<string>[varname layoutMarginsGuide];</string>
		<string>[varname readableContentGuide];</string>
		<string>[varname alignmentRectInsets];</string>
		<string>[varname viewForFirstBaselineLayout];</string>
		<string>[varname viewForLastBaselineLayout];</string>
		<string>[varname hasAmbiguousLayout];</string>
		<string>[varname contentMode];</string>
		<string>[varname requiresConstraintBasedLayout];</string>
		<string>[varname translatesAutoresizingMaskIntoConstraints];</string>
		<string>[varname semanticContentAttribute];</string>
		<string>[varname effectiveUserInterfaceLayoutDirection];</string>
		<string>[varname interactions];</string>
		<string>[varname contentScaleFactor];</string>
		<string>[varname gestureRecognizers];</string>
		<string>[varname canBecomeFocused];</string>
		<string>[varname inheritedAnimationDuration];</string>
		<string>[varname isFocused];</string>
		<string>[varname motionEffects];</string>
		<string>[varname restorationIdentifier];</string>
		<string>[varname tag];</string>
		<string>[varname reuseIdentifier];</string>
	</array>
</dict>
</plist>
